# Auto detect text files and perform LF normalization
* text=auto

# Shell scripts
*.sh text eol=lf

# Markdown files
*.md text eol=lf

# YAML files
*.yaml text eol=lf
*.yml text eol=lf

# Mermaid diagrams
*.mmd text eol=lf

# Scripts should be executable
*.sh text eol=lf

